.list{
    text-align: center;
    margin-left: 3%;
}
.list-item{
  border-radius: 5px;
}

.elenchi-task{
    width: 96%;
}
  
.elenchi-task-sliding{
    margin:2px;
}
  
.elenchi-task-sliding-option2{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
