

<ion-app>
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/pages/login">

        </ion-back-button>
      </ion-buttons>

      <ion-title>
        Crea task
      </ion-title>




    </ion-toolbar>
  </ion-header>
  <ion-content class="content">


    <form [formGroup]="form_addDate" (submit)="onAdd()">
      <ion-list class="addTask-block1">
        <ion-item color="secondary" class="addTask" lines="full">
          <ion-input placeholder="Nome task" required type="text" formControlName="name"></ion-input>
          <ion-checkbox  color="primary"  slot="start" ></ion-checkbox>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon slot="icon-only" name="star-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item color="secondary" class="ion-hide">
          <ion-input  placeholder="Note" required type="text" formControlName="note"></ion-input>
        </ion-item>
        <ion-item color="secondary" class="addTask1">
          <ion-input  placeholder="Note" required type="text" formControlName="note"></ion-input>
        </ion-item>
        <ion-item color="secondary" class="addTask2">
          <ion-input placeholder="Url" required type="text" formControlName="url"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item color="secondary" class="choice">
          <ion-label>Priorità</ion-label>
          <ion-select interface="popover" formControlName="priority">
            <ion-select-option value="Alta">Alta</ion-select-option>
            <ion-select-option value="Media">Media</ion-select-option>
            <ion-select-option value="Bassa">Bassa</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item color="secondary" class="choice2">
          <ion-label>Elenco</ion-label>
          <ion-select interface="popover"  formControlName="reminder">
            <ion-select-option value="Lavoro">lavoro</ion-select-option>
            <ion-select-option value="Svago">Svago</ion-select-option>
            <ion-select-option value="Salute">Salute</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>

    <ion-list>
      <ion-item color="secondary" class="choice">
        <ion-label>Ricordamelo un giorno</ion-label>
        <ion-toggle [(ngModel)]="date" slot="end" class="toggle" ></ion-toggle>
      </ion-item>

      <form *ngIf="date" [formGroup]="form_addDate">
        <ion-datetime formControlName="dateP"  display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY" class="datetime">
        </ion-datetime>
      </form>
    </ion-list>


    <ion-list>
      <ion-item color="secondary" class="choice2">
        <ion-label>Ricordamelo ad un'ora</ion-label>

        <ion-toggle  [(ngModel)]="hour" slot="end" class="toggle" ></ion-toggle>
      </ion-item>
      <form *ngIf="hour" [formGroup]="form_addDate">
        <ion-datetime formControlName="timeP"   display-format="H:mm" picker-format="H:mm" class="datetime1"></ion-datetime>
      </form>
    </ion-list>


    <footer>

      <ion-button (click)="onAdd()"  type="submit" expand="full" color="secondary" class="buttonDone"> FATTO </ion-button>

    </footer>
  </ion-content>
</ion-app>

