.addTask{
  // margin: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.addTask2{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.choice{

  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.choice2{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.toggle{
  width: 47px;
  --handle-spacing: 3px;
  align-items: end;
}
.datetime{
  text-align: center;
  background-color: #d9d9d9;
  color: black;
}
.datetime {
  text-align: center;
  background-color: #d9d9d9;
  color: black;
}
.datetime1 {
  text-align: center;
  background-color: #d9d9d9;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content{
  --padding-end: 5px;
  --padding-start: 5px;
}
.buttonDone{
  --border-top-left-radius: 5px;
  --border-top-right-radius: 5px;
  padding: 2px;
}
