

<ion-app>
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/pages/login">

        </ion-back-button>
      </ion-buttons>

      <ion-title>

        Lista Task
      </ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="toggleReorderGroup()" >

          <ion-icon class="toggle" slot="icon-only" name="ellipsis-horizontal-outline"  >

          </ion-icon>
        </ion-button>
      </ion-buttons>




    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>

    <ion-button  color="lightyellow"  expand="block">

      <ion-icon class="icon"  slot="icon-only" name="file-tray-full-outline"> </ion-icon> LAVORO
    </ion-button>

    <ion-list >

      <ion-reorder-group (ionItemReorder)="doReorder($event)"  >
        <ion-item color="secondary" class="listaTask">
          <ion-label>
            <h2>Mr Spino</h2>
            <p class="listaT"> <ion-icon name="notifications-outline"> </ion-icon> Mar 24 aprile 11:30  <ion-icon class="punto" name="ellipse"></ion-icon> <ion-icon name="location-outline"></ion-icon><ion-icon class="punto" name="ellipse"></ion-icon> <ion-icon name="document-text-outline"></ion-icon> </p>
          </ion-label>
          <ion-checkbox  color="primary" checked slot="start" class="checkbox"></ion-checkbox>
          <ion-buttons slot="end">
            <ion-button  (click)="dettagli_task()" >
              <ion-icon slot="icon-only" name="star-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-reorder slot="end">  </ion-reorder>
        </ion-item>

        <ion-item color="secondary" class="listaTask">
          <ion-label>
            <h2>Jon Snow</h2>
            <p> <ion-icon name="location-outline"></ion-icon> Via sotto la chiesa</p>
          </ion-label>

          <ion-checkbox  color="primary" checked slot="start" class="checkbox"></ion-checkbox>
          <ion-buttons slot="end">
            <ion-button  (click)="dettagli_task()" >
              <ion-icon slot="icon-only" name="star-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-reorder slot="end">  </ion-reorder>
        </ion-item>


        <ion-item color="secondary" class="listaTask">
          <ion-label>
            <h2>Andrea</h2>
            <p> </p>
          </ion-label>

          <ion-checkbox  color="primary" checked slot="start" class="checkbox"></ion-checkbox>
          <ion-buttons slot="end">
            <ion-button  (click)="dettagli_task()" >
              <ion-icon slot="icon-only" name="star-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-reorder slot="end">  </ion-reorder>
        </ion-item>

      </ion-reorder-group>
    </ion-list>



    <ion-fab horizontal="end" vertical="bottom" slot="fixed">


      <ion-fab-button color="tertiary">

        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>

