.icon{
  position: absolute;

  right: 85%;

}
.return{
  position: absolute;
  right: 88%;
}
.point{
  position: absolute;
  left: 88%;
}
.listaT{
  font-size: 12px;
}
.punto{
  font-size: 6px;
  margin: 2px;
}

