

<ion-app>
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="dashboard">

        </ion-back-button>
      </ion-buttons>

      <ion-title>

        Lista Task
      </ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="toggleReorderGroup()" >

          <ion-icon class="toggle" slot="icon-only" name="ellipsis-horizontal-outline"  >

          </ion-icon>
        </ion-button>
      </ion-buttons>




    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen *ngFor="let value of reminder">

    <ion-button  color="{{value.color}}"  expand="block">

      <ion-icon class="icon"  slot="icon-only" name="{{value.icon}}"> </ion-icon>
      {{value.name}}
    </ion-button>

    <ion-list >

      <ion-reorder-group (ionItemReorder)="doReorder($event)"  >
        <ion-item *ngFor="let session of task" color="secondary" class="listaTask">
          <ion-label>
            <h2>{{session.name}}</h2>
            <p  class="listaT">
              <h10 *ngIf="session.dateP !='2000-01-01'">
              <ion-icon name="notifications-outline"></ion-icon>
                {{ session.dateP}}
                <ion-icon class="punto" name="ellipse"></ion-icon></h10>
              <h10 *ngIf="session.location != 'NULL'">
                <ion-icon name="location-outline"></ion-icon>
                <ion-icon class="punto" name="ellipse"></ion-icon>
              </h10>
              <h10 *ngIf="session.note != 'NULL'">
                <ion-icon name="document-text-outline"></ion-icon>

              </h10>
            </p>
          </ion-label>
          <ion-checkbox  color="primary" [checked]="isChecked" slot="start" class="checkbox" (ionChange)="toast(session.task_id)"></ion-checkbox>
          <ion-buttons slot="end">
            <ion-button  (click)="alterFavorite(session.task_id )" >
              <ion-icon  slot="icon-only" name="{{session.favorite}}"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-reorder slot="end">  </ion-reorder>
        </ion-item>

      </ion-reorder-group>
    </ion-list>



    <ion-fab horizontal="end" vertical="bottom" slot="fixed">


      <ion-fab-button color="tertiary">

        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>

