ion-toolbar{
    --background: none;
    --border-style: none;
}
ion-title{
    padding-left: 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.center{
    display: flex;
    justify-content: center !important;
}

p{
    margin: 5%;
}