// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  :root {
    --ion-color-primary: #448cad;
    --ion-color-primary-rgb: 68,140,173;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3c7b98;
    --ion-color-primary-tint: #5798b5;

    --ion-color-secondary: #4b3eb5;
    --ion-color-secondary-rgb: 75,62,181;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #42379f;
    --ion-color-secondary-tint: #5d51bc;

    --ion-color-tertiary: #c26c4a;
    --ion-color-tertiary-rgb: 194,108,74;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #ab5f41;
    --ion-color-tertiary-tint: #c87b5c;

    --ion-color-success: #51cf4c;
    --ion-color-success-rgb: 81,207,76;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #47b643;
    --ion-color-success-tint: #62d45e;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235,68,90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-dark: #333333;
    --ion-color-dark-rgb: 51,51,51;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #2d2d2d;
    --ion-color-dark-tint: #474747;

    --ion-color-medium: #434343;
    --ion-color-medium-rgb: 67,67,67;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #3b3b3b;
    --ion-color-medium-tint: #565656;

    --ion-color-light: #d9d9d9;
    --ion-color-light-rgb: 217,217,217;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #bfbfbf;
    --ion-color-light-tint: #dddddd;

    --ion-color-lightblue: #abe4e8;
    --ion-color-lightblue-rgb: 171,228,232;
    --ion-color-lightblue-contrast: #000000;
    --ion-color-lightblue-contrast-rgb: 0,0,0;
    --ion-color-lightblue-shade: #96c9cc;
    --ion-color-lightblue-tint: #b3e7ea;

    --ion-color-lightpink: #efb3b1;
    --ion-color-lightpink-rgb: 239,179,177;
    --ion-color-lightpink-contrast: #000000;
    --ion-color-lightpink-contrast-rgb: 0,0,0;
    --ion-color-lightpink-shade: #d29e9c;
    --ion-color-lightpink-tint: #f1bbb9;

    --ion-color-lightgreen: #b3dcbb;
    --ion-color-lightgreen-rgb: 179,220,187;
    --ion-color-lightgreen-contrast: #000000;
    --ion-color-lightgreen-contrast-rgb: 0,0,0;
    --ion-color-lightgreen-shade: #9ec2a5;
    --ion-color-lightgreen-tint: #bbe0c2;

    --ion-color-lightpurple: #d0bce7;
    --ion-color-lightpurple-rgb: 208,188,231;
    --ion-color-lightpurple-contrast: #000000;
    --ion-color-lightpurple-contrast-rgb: 0,0,0;
    --ion-color-lightpurple-shade: #b7a5cb;
    --ion-color-lightpurple-tint: #d5c3e9;

    --ion-color-lightorange: #fdbba6;
    --ion-color-lightorange-rgb: 253,187,166;
    --ion-color-lightorange-contrast: #000000;
    --ion-color-lightorange-contrast-rgb: 0,0,0;
    --ion-color-lightorange-shade: #dfa592;
    --ion-color-lightorange-tint: #fdc2af;

    --ion-color-bluesea: #5a6993;
    --ion-color-bluesea-rgb: 90,105,147;
    --ion-color-bluesea-contrast: #ffffff;
    --ion-color-bluesea-contrast-rgb: 255,255,255;
    --ion-color-bluesea-shade: #4f5c81;
    --ion-color-bluesea-tint: #6b789e;

    --ion-color-lightbrown: #b09471;
    --ion-color-lightbrown-rgb: 176,148,113;
    --ion-color-lightbrown-contrast: #000000;
    --ion-color-lightbrown-contrast-rgb: 0,0,0;
    --ion-color-lightbrown-shade: #9b8263;
    --ion-color-lightbrown-tint: #b89f7f;

    --ion-color-lightyellow: #e5ec76;
    --ion-color-lightyellow-rgb: 229,236,118;
    --ion-color-lightyellow-contrast: #000000;
    --ion-color-lightyellow-contrast-rgb: 0,0,0;
    --ion-color-lightyellow-shade: #cad068;
    --ion-color-lightyellow-tint: #e8ee84;

    --ion-color-lightred: #cf6e79;
    --ion-color-lightred-rgb: 207,110,121;
    --ion-color-lightred-contrast: #000000;
    --ion-color-lightred-contrast-rgb: 0,0,0;
    --ion-color-lightred-shade: #b6616a;
    --ion-color-lightred-tint: #d47d86;

    --ion-color-greengrass: #b7d278;
    --ion-color-greengrass-rgb: 183,210,120;
    --ion-color-greengrass-contrast: #000000;
    --ion-color-greengrass-contrast-rgb: 0,0,0;
    --ion-color-greengrass-shade: #a1b96a;
    --ion-color-greengrass-tint: #bed786;
  }
}
.ion-color-lightblue {
  --ion-color-base: var(--ion-color-lightblue);
  --ion-color-base-rgb: var(--ion-color-lightblue-rgb);
  --ion-color-contrast: var(--ion-color-lightblue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightblue-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightblue-shade);
  --ion-color-tint: var(--ion-color-lightblue-tint);
}
.ion-color-lightpink {
  --ion-color-base: var(--ion-color-lightpink);
  --ion-color-base-rgb: var(--ion-color-lightpink-rgb);
  --ion-color-contrast: var(--ion-color-lightpink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightpink-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightpink-shade);
  --ion-color-tint: var(--ion-color-lightpink-tint);
}
.ion-color-lightgreen {
  --ion-color-base: var(--ion-color-lightgreen);
  --ion-color-base-rgb: var(--ion-color-lightgreen-rgb);
  --ion-color-contrast: var(--ion-color-lightgreen-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightgreen-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightgreen-shade);
  --ion-color-tint: var(--ion-color-lightgreen-tint);
}
.ion-color-lightpurple {
  --ion-color-base: var(--ion-color-lightpurple);
  --ion-color-base-rgb: var(--ion-color-lightpurple-rgb);
  --ion-color-contrast: var(--ion-color-lightpurple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightpurple-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightpurple-shade);
  --ion-color-tint: var(--ion-color-lightpurple-tint);
}
.ion-color-lightorange {
  --ion-color-base: var(--ion-color-lightorange);
  --ion-color-base-rgb: var(--ion-color-lightorange-rgb);
  --ion-color-contrast: var(--ion-color-lightorange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightorange-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightorange-shade);
  --ion-color-tint: var(--ion-color-lightorange-tint);
}
.ion-color-bluesea {
  --ion-color-base: var(--ion-color-bluesea);
  --ion-color-base-rgb: var(--ion-color-bluesea-rgb);
  --ion-color-contrast: var(--ion-color-bluesea-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bluesea-contrast-rgb);
  --ion-color-shade: var(--ion-color-bluesea-shade);
  --ion-color-tint: var(--ion-color-bluesea-tint);
}
.ion-color-lightbrown {
  --ion-color-base: var(--ion-color-lightbrown);
  --ion-color-base-rgb: var(--ion-color-lightbrown-rgb);
  --ion-color-contrast: var(--ion-color-lightbrown-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightbrown-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightbrown-shade);
  --ion-color-tint: var(--ion-color-lightbrown-tint);
}
.ion-color-lightyellow {
  --ion-color-base: var(--ion-color-lightyellow);
  --ion-color-base-rgb: var(--ion-color-lightyellow-rgb);
  --ion-color-contrast: var(--ion-color-lightyellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightyellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightyellow-shade);
  --ion-color-tint: var(--ion-color-lightyellow-tint);
}
.ion-color-lightred {
  --ion-color-base: var(--ion-color-lightred);
  --ion-color-base-rgb: var(--ion-color-lightred-rgb);
  --ion-color-contrast: var(--ion-color-lightred-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightred-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightred-shade);
  --ion-color-tint: var(--ion-color-lightred-tint);
}
.ion-color-greengrass {
  --ion-color-base: var(--ion-color-greengrass);
  --ion-color-base-rgb: var(--ion-color-greengrass-rgb);
  --ion-color-contrast: var(--ion-color-greengrass-contrast);
  --ion-color-contrast-rgb: var(--ion-color-greengrass-contrast-rgb);
  --ion-color-shade: var(--ion-color-greengrass-shade);
  --ion-color-tint: var(--ion-color-greengrass-tint);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #448cad;
    --ion-color-primary-rgb: 68, 140, 173;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3c7b98;
    --ion-color-primary-tint: #5798b5;

    --ion-color-secondary: #4b3eb5;
    --ion-color-secondary-rgb: 75, 62, 181;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #42379f;
    --ion-color-secondary-tint: #5d51bc;

    --ion-color-tertiary: #c26c4a;
    --ion-color-tertiary-rgb: 194, 108, 74;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #ab5f41;
    --ion-color-tertiary-tint: #c87b5c;

    --ion-color-success: #51cf4c;
    --ion-color-success-rgb: 81, 207, 76;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #47b643;
    --ion-color-success-tint: #62d45e;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;


    --ion-color-dark: #333333;
    --ion-color-dark-rgb: 51, 51, 51;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #2d2d2d;
    --ion-color-dark-tint: #474747;

    --ion-color-medium: #434343;
    --ion-color-medium-rgb: 67, 67, 67;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #3b3b3b;
    --ion-color-medium-tint: #565656;

    --ion-color-light: #d9d9d9;
    --ion-color-light-rgb: 217, 217, 217;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #bfbfbf;
    --ion-color-light-tint: #dddddd;

    --ion-color-green: #618b25;
    --ion-color-green-rgb: 97, 139, 37;
    --ion-color-green-contrast: #ffffff;
    --ion-color-green-contrast-rgb: 255, 255, 255;
    --ion-color-green-shade: #557a21;
    --ion-color-green-tint: #71973b;


    --ion-color-lightblue: #abe4e8;
    --ion-color-lightblue-rgb: 171,228,232;
    --ion-color-lightblue-contrast: #000000;
    --ion-color-lightblue-contrast-rgb: 0,0,0;
    --ion-color-lightblue-shade: #96c9cc;
    --ion-color-lightblue-tint: #b3e7ea;

    --ion-color-lightpink: #efb3b1;
    --ion-color-lightpink-rgb: 239,179,177;
    --ion-color-lightpink-contrast: #000000;
    --ion-color-lightpink-contrast-rgb: 0,0,0;
    --ion-color-lightpink-shade: #d29e9c;
    --ion-color-lightpink-tint: #f1bbb9;

    --ion-color-lightgreen: #b3dcbb;
    --ion-color-lightgreen-rgb: 179,220,187;
    --ion-color-lightgreen-contrast: #000000;
    --ion-color-lightgreen-contrast-rgb: 0,0,0;
    --ion-color-lightgreen-shade: #9ec2a5;
    --ion-color-lightgreen-tint: #bbe0c2;

    --ion-color-lightpurple: #d0bce7;
    --ion-color-lightpurple-rgb: 208,188,231;
    --ion-color-lightpurple-contrast: #000000;
    --ion-color-lightpurple-contrast-rgb: 0,0,0;
    --ion-color-lightpurple-shade: #b7a5cb;
    --ion-color-lightpurple-tint: #d5c3e9;

    --ion-color-lightorange: #fdbba6;
    --ion-color-lightorange-rgb: 253,187,166;
    --ion-color-lightorange-contrast: #000000;
    --ion-color-lightorange-contrast-rgb: 0,0,0;
    --ion-color-lightorange-shade: #dfa592;
    --ion-color-lightorange-tint: #fdc2af;

    --ion-color-bluesea: #5a6993;
    --ion-color-bluesea-rgb: 90,105,147;
    --ion-color-bluesea-contrast: #ffffff;
    --ion-color-bluesea-contrast-rgb: 255,255,255;
    --ion-color-bluesea-shade: #4f5c81;
    --ion-color-bluesea-tint: #6b789e;

    --ion-color-lightbrown: #b09471;
    --ion-color-lightbrown-rgb: 176,148,113;
    --ion-color-lightbrown-contrast: #000000;
    --ion-color-lightbrown-contrast-rgb: 0,0,0;
    --ion-color-lightbrown-shade: #9b8263;
    --ion-color-lightbrown-tint: #b89f7f;

    --ion-color-lightyellow: #e5ec76;
    --ion-color-lightyellow-rgb: 229,236,118;
    --ion-color-lightyellow-contrast: #000000;
    --ion-color-lightyellow-contrast-rgb: 0,0,0;
    --ion-color-lightyellow-shade: #cad068;
    --ion-color-lightyellow-tint: #e8ee84;

    --ion-color-lightred: #cf6e79;
    --ion-color-lightred-rgb: 207,110,121;
    --ion-color-lightred-contrast: #000000;
    --ion-color-lightred-contrast-rgb: 0,0,0;
    --ion-color-lightred-shade: #b6616a;
    --ion-color-lightred-tint: #d47d86;

    --ion-color-greengrass: #b7d278;
    --ion-color-greengrass-rgb: 183,210,120;
    --ion-color-greengrass-contrast: #000000;
    --ion-color-greengrass-contrast-rgb: 0,0,0;
    --ion-color-greengrass-shade: #a1b96a;
    --ion-color-greengrass-tint: #bed786;

  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {

    --ion-font-family: 'Lato Regular';
    --ion-background-color: #333333;
    --ion-background-color-rgb: 51,51,51;

    --ion-text-color: #d9d9d9;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #080808;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #333333;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #333333;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #d9d9d9;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;
  }
}
