<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard">  </ion-back-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="data"><h4>{{now | date:'EEEE dd MMMM yyyy'}} <br></h4></div>

  <calendar
          [calendarMode]="calendar.mode"
          [currentDate]="calendar.currentDate"
          (onCurrentDateChanged)="onCurrentDateChanged($event)"
          [locale]="calendar.locale">

  </calendar>
</ion-content>
