<ion-content>

  <ion-app>
    <ion-menu side="end" content-id="main-content">
      <ion-content>
      <div class="img-center">
        <ion-avatar class="avatar">
          <img src="../../../assets/{{img}}">
        </ion-avatar>
      </div>
      <div class="center">
        <h2>{{name}} {{surname}}</h2>
          <ion-text color="light">E-mail</ion-text>: {{email}}
        <br><br>
        <ion-list>
          <ion-item button (click)="UpdateEmail()" detail="false" lines="none">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label>Modifica email</ion-label>
          </ion-item>
          
          <ion-item button (click)="UpdatePass()" detail="false" lines="none">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label>Modifica password</ion-label>
          </ion-item>

          <ion-item button (click)="deleteAccount()" detail="false" lines="none">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            <ion-label>Cancella Account</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <br>
        <ion-button  (click)="logout()" expand="block" shape="round" size="small" color="danger">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-button>

     
       
    </ion-content>
    <div class="foot-m">iTask v0.0.1</div>

    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button  style="color: white;"></ion-menu-button>
          </ion-buttons>
          <ion-title><img style="height: 150px" src="/../assets/icon/iTask.png"></ion-title>

          <ion-buttons slot="start">
            <ion-button (click)="Navcalendar()" >
              <ion-icon slot="icon-only"  style="color: white;" name="calendar-outline" ></ion-icon>
            </ion-button>
          </ion-buttons>

        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-grid>
          <form [formGroup]="form" (submit)="search()">
            <ion-row>
              <ion-col size="10" size-sm>
                <ion-searchbar formControlName="search"> </ion-searchbar>
              </ion-col>
              <ion-col size="2">
                <ion-button class="sq" type="submit"  [disabled]="form.invalid">
                  Cerca
                </ion-button>
              </ion-col>
           </ion-row>
          </form>
        </ion-grid>
        
        <div class="center-items">
          <!-- -----------  oggi  -------------- -->
          <ion-button style="width: 30%; height:75px;  " color="secondary" (click)="NavDefault('today')">
            <div id="container_default-task">
              <div class="default-task-topicon">
                <ion-icon class="default-task-calendar"     name="calendar-outline"></ion-icon>
              </div>
              OGGI
              <div class="default-task-bottomicon">
                {{numberTodayTask}}
              </div>
            </div>
            <!-- -----------  preferiti  -------------- -->
          </ion-button>
          <ion-button style="width: 30%; height:75px; " color="secondary"(click)="NavDefault('favorite')">
            <div id="container_default-task">
              <div class="default-task-topicon">
                <ion-icon class="default-task-calendar"     name="star"></ion-icon>
              </div>
              PREFERITI
              <div class="default-task-bottomicon">
                {{numberFavoriteTask}}
              </div>
            </div>
          </ion-button>
          <!-- -----------  Tutti  -------------- -->
          <ion-button style="width: 30%; height:75px; " color="secondary" (click)="NavDefault('all')">
            <div id="container_default-task">
              <div class="default-task-topicon">
                <ion-icon class="default-task-calendar"     name="list"></ion-icon>
              </div>
              TUTTI
              <div class="default-task-bottomicon">
                {{numberAllTask}}
              </div>
            </div>
          </ion-button>
        </div>

        <div id="imieielenchi">
          I miei elenchi:
        </div>
        <div class="center-items">
          <ion-button (click)="NavCreateReminder()" class="ion-activatable ripple-parent" class="addList" color="tertiary">
            <ion-icon class="icon"  slot="icon-only" name="add-outline"> </ion-icon>
            <ion-label>Aggiungi un nuovo elenco</ion-label>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-button>
        </div>
        <div class="list">
          <ion-list  class="elenchi-task">

            <ion-item-sliding class="elenchi-task-sliding" *ngFor="let session of reminder" >
              <ion-item class="list-item" color="{{session.color}}" (click)="NavTask(session.reminder_id)">
                <ion-icon slot="start" name="{{session.icon}}"></ion-icon>
                <ion-label>
                  <h2> {{session.name}}</h2>
                </ion-label>
                {{session.numTask}} <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>
              <ion-item-options>
                <ion-item-option class="elenchi-task-sliding-option1" color="tertiary" (click)="NavInfoReminder(session.reminder_id)">
                  <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                  Modifica
                </ion-item-option>
                <ion-item-option class="elenchi-task-sliding-option2"  color="tertiary" (click)="delete_reminder(session.reminder_id)">
                  <ion-icon slot="top" name="trash-outline"></ion-icon>
                  Elimina
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

          </ion-list >
        </div>


      <ion-fab horizontal="end" style="margin: 20px;" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="NavCreateTask()"color="tertiary">
          <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>






    </div>

  </ion-app>

</ion-content>
