.center{
  display: block;
  width: 100%;
  padding: 0 7% 0 7%;

  h2{
    text-align: center !important;
    border-bottom: 1px solid white ;
  }
}

.foot-m{
  font-size: 0.6rem;
  text-align: end;
  margin: 2%;
}

.img-center{
  margin-top: 10%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.avatar {
  justify-content: center;
  width: 50%;
  height: auto;
}
.my-custom-menu {
  --width: 500px;
}

.center-items{
  text-align: center;

}

#container_default-task{
  display: flex;
  flex-flow: column nowrap;
  font-family: "Lato Regular";
}
.default-task-topicon{
  margin-left: -60px;
  margin-top: -5px;
  margin-bottom: 7px;
}
.default-task-bottomicon{
  margin-left: 60px;
  margin-top: 8px;
  font-size: small;
}

.default-task-calendar{

}

#imieielenchi{
  margin: 10px;
}
.icon {
  position: absolute;

  right: 89%;
}
.addList{
  width: 92%;
  height: 33px;
  --border-radius: 5px;
}
.list{
  text-align: center;
  margin-left: 3%;
}
.elenchi-task{
  width: 96%;
}
.elenchi-task-sliding{
  margin:2px;
}
.elenchi-task-sliding-option1{

}
.elenchi-task-sliding-option2{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}


.list-item{
  border-radius: 5px;
}

