<ion-header class="ion-no-border" xmlns="http://www.w3.org/1999/html">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="light" defaultHref="login">
        <ion-icon name="close-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="title">
    <h4>Inserisci email del destinatario </h4>
  </div>
  <br>
    <form [formGroup]="shareForm" (submit)="emailShared()" class="list-form">
          <div padding>
            <ion-item no-padding class="mailItem" color="secondary" >
              <ion-icon name="person-outline"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <ion-input  type="email"  formControlName="email"></ion-input>
              <ion-input  formControlName="id"  class="ion-hide"></ion-input>

            </ion-item>

          </div></form>
  <div class="mailButton">
  <ion-button (click)="emailShared()"> Condividi Elenco</ion-button><br><br>
</div>
Attualmente condiviso con:
  <ion-list *ngFor="let session of sharedUser">
    <ion-item *ngIf="session.email != userEmail"  >
    <p > email: {{session.email}} </p>
    </ion-item>

  </ion-list>
</ion-content>
